*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display',sans-serif;
    margin: 0;
    padding: 0;
}

main{
    padding: 20px;
    
    display: flex;
    gap: 1.5rem;
}

header{
    text-align:left;
    font-size: 32px;
    display:inline;
}

.header-img{
    width: 100%;
    max-height: 50px;
    object-fit: cover;
    object-position: left;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
}

.jumbotron > h2{
    color: white;
}

nav {
    background-color: #102C57;
    padding: 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: sticky;
    top: 0;
    z-index: 1000;
 }

 .logo img {
    height: 70px; 
    width: auto; 
    margin-left: 20px; 
}

nav a{
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    
}

nav a:hover{
    font-weight:bold;
    transition: all 0.2s ease-in-out;
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFD700; 
}

#content {
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

p {
    height: auto;
}

h2, h3 {
    color:#102C57;
}

.profile {
    text-align: center;
}

.profile img{
    width: 200px;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.match-image {
    position: relative;
    width: 100%;
    max-height: 450px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    filter: brightness(50%);
    
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.overlay-content h2 {
    margin: 0 0 10px 0;
}

.overlay-content button {
    background-color: #102C57;
    color: white;
    padding: 10px 50px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Playfair Display';
    transition: transform 0.2s, box-shadow 0.2s;
}

.overlay-content button:hover {
    transform: scale(1.05);
    background-color: white;
    color: #102C57;
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
}

.card-news {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    will-change: transform;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.card-news:nth-child(n+3) {
    flex: 1 1 calc(33.33% - 20px); 
}

.card-news:nth-child(n+6) {
    flex: 1 1 calc(50% - 20px); 
}

.card-news:hover {
    transform: scale(1.0);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
    z-index: 2;
}

.card {
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    will-change: transform; 
    overflow: hidden;
}

.card:hover {
    transform: scale(1.01);
    z-index: 2;
}

.card-news img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container {
    padding: 20px;
    text-align: center;
}

aside {
    flex: 1;
}

aside button {
    background-color: #102C57;
    color: white;
    padding: 10px 50px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Playfair Display';
    transition: transform 0.2s, box-shadow 0.2s;
}

aside button:hover {
    transform: scale(1.05);
    background-color: white;
    color: #102C57;
}

#aside-text{
    color:#00a2c6;
    text-align: center;
}

#aside-text2{
    text-align: center;
}

footer{
  padding: 20px;
  color: white;
  background-color: #102C57;
  text-align: center;
  font-weight: bold;
}


footer ul{
    display: flex;
    justify-content: center;
}

footer a{
    color: white;
    transition: all 0.2s ease-in-out;
}

footer a:hover{
    color: #FFD700;
}

footer ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
  }

footer li {
    list-style-type: none;
    margin-right: 20px;
  }



@media screen and (max-width: 1200px) {
    main {
    flex-flow: column nowrap;
  }
  main aside {
    align-self: center;
  }
}


@media screen and (max-width: 768px) {nav ul {
    justify-content: center;
  }
  main aside {
    align-self: stretch;
  }

}
